<div class="container py-5" ng-init="vm.init()">
  <div class="row">
    <div class="col-10 mx-auto">
  
      <div class="table-display vcenter-content my-3" style="height:auto">
        <div class="table-cell">
          <h1 class="bebas blue-grey-text my-0 vcenter-content">Usuários</h1>
        </div>
        <div class="table-cell fit-content" >
          <button type="button" class="btn btn-secondary" ng-click="vm.voltar()">Voltar</button>
        </div>
      </div>
    
      <div class="bq-simple-panel">
        <!--Pesquisa Cliente-->
        <div class="table-display vcenter-content">
          <div class="table-cell fit-content"><h5 class="blue-text no-margin">Pesquisar:&nbsp</h5></div>
          <div class="table-cell fit-content">
            <div class="input-group" style="width:320px">
              <!-- mask="%?s?" aceita somente letras, numeros e espaço -->
              <input type="text" class="form-control" ng-model="vm.user_search" placeholder="Nome" clean="true" restrict="reject" return-trigger="#button_search,click"/>
              <!-- <span class="input-group-addon light light-blue-text hand-cursor" id="basic-addon3" ng-click="vm.userSearch(true)"><i id="button_search" class="fa fa-search"></i></span> -->
            </div>
          </div>
          <div class="table-cell fit-content">
            <div class="input-group" style="width:300px">
              <select id="partner_list" name="partner_list" class="form-control" ng-model="vm.user_partner_id" ng-focus>
                <option value="">Todos os Usuários</option>
                <option value="0">Somente Internos</option>
                <option ng-repeat="partner in vm.partnerList" value="{{partner.id}}">{{ partner.nome_fantasia }}</option>
              </select>
            </div>
          </div>
          <div class="table-cell" style="width:50px !important;">
            <span class="input-group-addon light light-blue-text hand-cursor" style="height:35px" id="basic-addon3" ng-click="vm.userSearch(true)"><i id="button_search" class="fa fa-search"></i></span>
          </div>
          <div class="table-cell">
            <div class="text-right">
              <a class="adp-button yellow lg-button no-margin no-wrap" href="#!/usuario/novo">
                 Novo Usuário
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="vgap-20"><!-- Vertical Gap 20px --></div>

       <section>
        <div class="dashed-message" ng-hide="vm.filterSearch || vm.users.length">Pesquise por usuarios no campo acima</div>

        <div ng-show="vm.users.length">
          <table class="bq-table" style="background-color:#fdfdfd" ng-show="vm.users.length">
            <tr class="header">
              <td style="width:200px" class="text-center">Lista de Usuários</td>
              <td>E-mail</td>
              <td class="text-center">Perfil</td>
              <td class="text-center table-buttons"><!-- Botões --></td>
            </tr>
            <tr ng-class="{'hand-cursor': vm.usuarioLogado.perfil.id == '2'}" ng-repeat="usuario in vm.users">
              <td ng-click="vm.edit(usuario.id)">{{usuario.nome}}</td>
              <td ng-click="vm.edit(usuario.id)">{{usuario.email}}</td>
              <td class="text-center" ng-click="vm.edit(usuario.id)">{{usuario.perfil.descricao}}</td>
              <td class="table-buttons">
                <button type="button" class="btn btn-outline-warning btn-sm" title="Editar" ng-click="vm.edit(usuario.id)"><i class="fa fa-pencil-square-o"></i></button>
                <button type="button" class="btn btn-outline-danger btn-sm" title="Excluir" ng-click="vm.destroy(usuario.id)"><i class="fa fa-trash"></i></button>
              </td>
            </tr>
          </table>

          <ul uib-pagination direction-links="false"
            class="pagination"
            items-per-page="vm.pagination.itensPerPage"
            boundary-links="true"
            ng-change="vm.pagination.pageChanged()"
            total-items="vm.pagination.totalItems"
            ng-model="vm.pagination.currentPage"
            first-text="&laquo;"
            last-text="&raquo;"
            ></ul>
        </div>

        <div class="dashed-message" ng-show="vm.filterSearch && !vm.users.length">Nenhum usuário encontrado</div>
      </section>
      <div class="vgap-20"><!-- Vertical Gap 20px --></div>
    </div>
  </div>
</div>

