<nav class="navbar navbar-expand-lg fixed-top bg-darkblue py-1 navbar-dark">
  <a class="navbar-brand" href="#!/home">MANAGER USERS</a>
  <div class="collapse navbar-collapse">
    <div class="navbar-nav ml-auto">

      <div class="full-width text-center" style="width: 100%;">
        <span class="nav-bar-user-selected">{{vm.userSelected}}</span>
      </div>


     <!--  <a class="nav-item nav-link" href="#!/home">Historico</a> -->
       
<!--       <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href role="button" aria-haspopup="true" aria-expanded="false">Listas e Provas</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#!/buscar-listas-provas">Buscar Listas e Provas</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#!/editar-listas-provas"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Cadastrar Listas e Provas</a>
        </div>
      </div> -->
     
    </div>
    <div class="navbar-nav ml-5">
      <a class="nav-item nav-link" href="#"><i class="fa fa-sign-out font-size-18"></i>&nbsp;Sair</a>
    </div>
  </div>
  
</nav>