<nav class="navbar navbar-expand-lg fixed-top bg-darkblue py-1 navbar-dark">
  <a class="navbar-brand" href="#!/home">
    Manager Users
  </a>
  <div class="collapse navbar-collapse">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link" href="#!/assuntos">Assuntos</a>
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href role="button" aria-haspopup="true" aria-expanded="false">Questões</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#!/buscar-questoes">Buscar Questões</a>
          <a class="dropdown-item" href="#!/validar-questoes">Validar Questões</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#!/editar-questoes"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Cadastrar Questões</a>
        </div>
      </div>
      
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href role="button" aria-haspopup="true" aria-expanded="false">Listas e Provas</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#!/buscar-listas-provas">Buscar Listas e Provas</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#!/editar-listas-provas"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Cadastrar Listas e Provas</a>
        </div>
      </div>
      
      <a class="nav-item nav-link" href="#!/relatorios">Relatórios</a>
      
      <a class="nav-item nav-link" href="#!/usuarios">Usuários</a>
    </div>
    <div class="navbar-nav ml-5">
      <a class="nav-item nav-link" href="#"><i class="fa fa-sign-out font-size-18"></i>&nbsp;Sair</a>
    </div>
  </div>
  
</nav>