<button class="btn btn-default" id="toggle-sidebar" type="button" ng-click="vm.toggleSideNav()">&#9776;</button>
<nav class="sidebar" ng-class="{sidebarPushRight: isActive}">
  <!--
    AngularJS $locationProvider now uses "hashbang" notation #!
    http://stackoverflow.com/questions/16677528/location-switching-between-html5-and-hashbang-mode-link-rewriting
  -->

  <ul class="list-group">
   <a ng-repeat="user in vm.users" href="#!/home/{{user.id}}" class="list-group-item" ng-class="{active:activeRoute=='user'}">
      <i class="fa fa-user"></i><span>&nbsp;&nbsp;{{user.username}}</span>
    </a>
  </ul>

</nav>
