<div class="container" ng-init="vm.init()">
  <div class="vgap-30"><!-- Vertical Gap 30px --></div>
  <div ng-repeat="history in vm.histories">
  	<h1 class="bebas blue-grey-text">{{history.title}}</h1>
  </div>

  <div class="container">
    <ul class="timeline">
        <li><!--Time Line Element-->
          <div class="timeline-badge up"><i class="fa fa-thumbs-up"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Time Line Entry #1</h4>
            </div>
            <div class="timeline-body"><!--Time Line Body&Content-->
              <p>Time line content is placed here...</p>
            </div>
          </div>
        </li>
        <li><!--Time Line Element-->
          <div class="timeline-badge down"><i class="fa fa-thumbs-down"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Time Line Entry #2</h4>
            </div>
            <div class="timeline-body"><!--Time Line Body&Content-->
              <p>Time line content is placed here...</p>
              <p>And some more Time line content </p>
            </div>
          </div>
        </li>
        <li><!--Time Line Element-->
          <div class="timeline-badge neutral"><i class="fa fa-navicon"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Time Line Entry #3</h4>
            </div>
            <div class="timeline-body"><!--Time Line Body&Content-->
              <p>Time line content is placed here...</p>
              <p>This appears to be a neutral time line enty...</p>
            </div>
          </div>
        </li>
        <li><!--Time Line Element-->
          <div class="timeline-badge down"><i class="fa fa-thumbs-down"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Time Line Entry #4</h4>
            </div>
            <div class="timeline-body"><!--Time Line Body&Content-->
              <p>Time line content is placed here...</p>
              <p>And some more Time line content </p>
            </div>
          </div>
        </li>
        
        <li><!--Time Line Element-->
          <div class="timeline-badge up"><i class="fa fa-thumbs-up"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Time Line Entry #5</h4>
            </div>
            <div class="timeline-body"><!--Time Line Body&Content-->
              <p>Time line content is placed here...</p>
            </div>
          </div>
        </li>
    </ul>
</div>


</div>